h1,
h2 {
    font-size: 3.2em;
    line-height: 1.1;
    color: gray;
}


.phonebox {
    margin: 0 auto;
    transform: translateY(15%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: auto;
    background-color: #f0f0f0;
    border-radius: .3125rem;
    box-shadow: 0rem 0rem 1.25rem rgba(0, 0, 0, 0.3);
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: .625rem;
    margin-bottom: 1.25rem;
    color: black;
}

.name,
.phone {
    display: flex;
    gap: .625rem;
}

button {
    display: inline-block;
    margin: 0.8em;
    padding: 1rem;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: .25rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


button:hover {
    background-color: #0062cc;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    position: relative;
    display: flex;
    align-items: center;
    color: gray;
}

li button {
    position: absolute;
    top: 0;
    right: -5em;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: .25rem;
    padding: 0.4rem;
    cursor: pointer;
}

li button:hover {
    background-color: #c82333;
}


@media screen and (max-width: 1024px) {
    .phonebox {
        display:flex;
        flex-wrap: wrap;
        width: 50%;
    }
}

@media screen and (min-width: 768px) and (max-width: 920px) {
    .phonebox {
        display:flex;
        flex-wrap: wrap;
        width: 60%;
    }
}

@media screen and (max-width: 767px) {
    .phonebox {
        display:flex;
        flex-wrap: wrap;
        width: 70%;
    }
}

@media screen and (max-width: 576px) {
    .phonebox {
        width: 80%;
    }

    .contact-lists{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .contact {
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .contact button {
        position:relative;
        top: -1em;
        right: 0.5em;
    }

    h1,h2 {
        font-size: 2em;
    }
}